.addMovie {
    &__modal {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__paper {
        max-width: 400px;
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        border: 2px solid #000;
        padding: 16px 32px 24px;
        box-shadow: 0px 3px 5px -1px Rgb(0 0 0 / 20%), 0px 5px 8px 0px Rgb(0 0 0 / 14%), 0px 1px 14px 0px Rgb(0 0 0 / 12%);
        background-color: #232323;

        h2 {
            text-transform: uppercase;
            color: white;
        }

        label {
            text-transform: uppercase;
            margin-bottom: 5px;
            color: #f65261;
        }

        input, select {
            background-color: #424242;
            border: none;
            padding: 10px;
            border-radius: 3px;
            margin-bottom: 25px;
        }

        .action {
            text-align: right;

            button {
                &:not(:last-child) {
                    margin-right: 20px;
                }
            }
        }

        .close {
            cursor: pointer;
            margin-left: auto;
        }
    }
}