.sort {
    > span {
        text-transform: uppercase;
        color: grey;
        margin-right: 20px;
    }

    > select {
        background-color: transparent;
        color: white;
        text-transform: uppercase;
        border: none;

        option {
            color: black;
        }
    }
}